*{
    font-family: "Poppins", sans-serif;
}


.bangla-font {
  font-family: "Hind Siliguri", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.active{
  background-color: blue;
  color: white;
}

