.bangla-font {
  font-family: "Hind Siliguri", sans-serif;
  font-weight: 300;
  font-style: normal;
}


.font-poppins {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}